{{define "book_list.html"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>图书展示</title>
    </head>
    <body>
        <div><a href="/book/add">添加图书</a></div>
        <table border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>price</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{ range .data}}
                    <tr>
                        <td>{{.Id}}</td>
                        <td>{{.Title}}</td>
                        <td>{{.Price}}</td>
                        <td><a href="/book/delete?id={{.Id}}">删除</a></td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </body>
</html>
{{end}}